.content {
  background-color: var(--green-light);
  
  width: 80vw;
  height: 40vw;

  border-radius: 1vw;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

main {
  background-color: var(--green);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}