.content {
  background-color: var(--green-light);
  
  width: 80vw;
  height: 40vw;

  border-radius: 1vw;

  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    display: flex;
    flex-direction: row;

    align-items: center;

    .text {
      width: 30vw;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      width: 20vw;
      height: 2vw;

      border-radius: 0.5vw;

      padding-left: 1vw;

      font-size: 1.5rem;
    }
  }

  .visitor {
    height: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-direction: column;

    .welcome {
      font-size: 4rem;
    }

    h1 {
      font-size: 2rem;

      color: var(--green-text);

      margin: 0;
    }

    button {
      width: 20vw;
      height: 4vw;

      font-size: 2rem;
    }
  }

  .education {
    height: 40vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    .title {
      text-decoration: underline;
      font-size: 3rem;
    }
  
    h1 {
      color: var(--green-text);
      font-size: 2rem;
    }

    button {
      width: 20vw;
      height: 3vw;
    }
  }
}

main {
  background-color: var(--green);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}