:root {
  --green : #A8BBA3;
  --white : #F7F4EA;
  --pink : #EBD9D1;
  --orange : #B87C4C;
  --red : #b84e4c;

  --green-hover : #8aa783;

  --green-light : rgb(208, 227, 203);

  --green-text : rgb(108, 127, 103);
}