html {
  font-size: 1vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;

  background-color: #F7F6D3;

  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 35vw;

  background-color: #C7DB9C;
  border-radius: 20px;

  flex-direction: column;
  gap: 5vh;

  @media (max-width: 1024px) {
    width: 60vw;
  }

  h1 , h2 {
    color: #626F47;
    font-size: 2rem;

    height: 1vw;
  }

  button {
    width: 10vw;
    height: 5vw;

    border-radius: 5px;

    font-size: 1vw;
  }

  input {
    width: 20vw;
    height: 5vh;

    font-size: 2rem;
  }
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}